html {
  font-family: "Open Sans";
  font-size: 30px;
}

body {
  background-color: black;
}

#topbar {
  background-color: #808000;
  height: 50px;
  margin-top: 5px;
}

.kwadrat1 {
  background-color: red;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  margin-left: 110px;
  margin-right: 100px;
  border: 4px black solid;
  transition:0.5s ;
}

.kwadrat2 {
  margin-left: 5px;
  background-color: red;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border: 4px black solid;
  transition:0.5s ;
}
.container {
  display: flex;
  justify-content: space-between;
} 

.next2 {
  margin-left: 0px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.prostokat1 {
  background-color: blue;
  width: 100px;
  height: 10px;
  border: 4px black solid;
}

.prostokat2 {
  background-color: blue;
  width: 100px;
  height: 10px;
  border: 4px black solid;
  margin-top: 20px;
}

.kolo {
  background-color: #008080;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px black solid;
  margin-left: 20px;
  margin-right: 10px;
} 

.container {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #008000;
}

.abc {
  margin-top: 0px;
  background-color: white;
  border: 4px black solid;
  width: 150px;
  height: 300px;
  padding-top: 10px;
  text-align: center;
  justify-content: space-evenly;
}

.container {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #008000;
}

.divB {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) and (min-width: 583px) {
  .container {
    flex-direction: row;
  }
  .divB {
    flex-direction: column;
  }
  .abc {
    background-color: #c83737;
    transition: background 2s;
   } 
  }

@media screen and (max-width: 900px) and (min-width: 583px) {
  .container {
    flex-direction: row;
  }

  .divB {
    flex-direction: column;
  }
  .abc {
    background-color: #c83737;
    transition: background 2s;
  }
}

@media screen and (max-width: 583px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .abc {
    background-color: blue;
    transition: background 2s;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .divB {
    flex-direction: row;
  }
   .abc {
    background-color: white;
    transition: background 2s;
  }
}

.kwadrat2:hover {
  background-color: Thistle;
  max-width: 20vw;
  transform: scale(1.2);
  }

.kwadrat1:hover {
  background-color: Thistle;
  max-width: 20vw;
  transform: scale(1.2);
  }
